In [733]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math

import logit_demand as ld
import importlib
importlib.reload(ld)

In [734]:
# ------------------------------------------------------------------------
# NOTE
# ------------------------------------------------------------------------
# Purpose: Test function loglikelihood in logit_demand_archive.py
# 
#
# Definition of several variables in this file:
# n: number of individual
# c: number of products
#    outside option normalized to 0 and not included among the choices
# m: length of beta, number of variables
# ------------------------------------------------------------------------

In [735]:
# 0. Initialize parameters -----------------------------------------------

# number of consumers
n = 1000
# range of choices
c_min, c_max = (3,6)
# total number of products
tc = 100
# number of attributes, like: income, age, price
m = 6
m2 = int(np.floor( (m-1)/2 ))
m1 = m - 1- m2

In [736]:
# I. initialize sample ---------------------------------------------------
# 0. random seed
np.random.seed(seed=13344)

# 1. id
consumer_id = list(range(0,n))
product_id = list(range(0,tc))


# 2. generate attributes and TC (total product) sample
prod_varnames = ['prod_var1','prod_var2','prod_var3','prod_var4','prod_var5']

# (1) set up mean and std of each attributes:
locs = np.random.uniform(low =-50, high=50,size=m-1)
stds = np.random.lognormal(mean = 0, sigma=5, size=m-1)

# (2) get the value of each attributes
p_attrs = np.random.multivariate_normal(mean = locs, cov = np.diag(stds), size = tc)
price = np.random.lognormal(mean = 5, sigma=3, size=tc)


# 3. consumer attributes
consumer_varnames = ['consumer_var1', 'consumer_var2']
c_attrs = np.random.randint(2, size=(n, m2))
# each consumer: number of products offered
num_prod_offered = np.random.randint(low =c_min, high=c_max+1,size=n) # c_max+1 to make the interval closed
# each consumer: which products are offered 
prod_offered = list(map(lambda c: np.random.choice(product_id, size=c, replace=False),
                   num_prod_offered))

In [737]:
# 4. merge all attributes into a dataframe, each row is one consumer-product(offered). 
# so the length != n*tc. the length is \sum c_{i}
# (1) dataframe of consumers
df_consumer = pd.DataFrame(num_prod_offered, 
                  columns = ['num_prod_offered'], 
                  index = consumer_id)
df_consumer['prod_offered'] = prod_offered
df_consumer.index.name = 'consumer_id'

In [738]:
# (2) reshape to consumer-product(offered)
df_consumer = df_consumer.loc[np.repeat(df_consumer.index.values, df_consumer['num_prod_offered'])]

In [739]:
for consumer, frame in df_consumer.groupby(level = 0):
    prod_offered_to_thisperson = list(frame['prod_offered'])[0]
    df_consumer.loc[df_consumer.index == consumer, 'product_id'] = prod_offered_to_thisperson

In [740]:
# (3) product dataframe
df_prod = pd.DataFrame(p_attrs, 
                       index = product_id,
                       columns=prod_varnames)
df_prod['price'] = price
df_prod.index.name = 'product_id'

# (4) merge
# merge consumer id with the products assigned to each consumer
df = pd.merge(df_consumer,
              df_prod,
              left_index = False, left_on = 'product_id', 
              right_index = True).sort_index(0)
df = df.astype({'product_id': 'int'})

# merge in consumer attributes
df = pd.merge(df,
              pd.DataFrame(c_attrs, columns = consumer_varnames),
              left_index = True, 
              right_index = True).sort_index(0)
df.index.name = 'consumer_id'
for i in range(-m2,0):
    df[prod_varnames[i]] = df[prod_varnames[i]]*df[consumer_varnames[i]]

In [741]:
# (5) clean the datafram
df.reset_index(inplace = True)
#df = df.set_index(['consumer_id', 'product_id'])
df.head()

,consumer_id,num_prod_offered,prod_offered,product_id,prod_var1,prod_var2,prod_var3,prod_var4,prod_var5,price,consumer_var1,consumer_var2
0,0,4,"[74, 5, 53, 71]",74,68.556374,-11.732472,14.876758,-25.337136,-36.372924,2306.971301,1,1
1,0,4,"[74, 5, 53, 71]",5,25.017165,-11.812267,14.860598,-41.075519,-33.568343,7341.728804,1,1
2,0,4,"[74, 5, 53, 71]",53,22.429600,-11.631830,14.816871,-40.848841,-34.687707,29.645139,1,1
3,0,4,"[74, 5, 53, 71]",71,11.044104,-11.587997,14.939064,-36.650324,-36.813140,644.192645,1,1
4,1,3,"[18, 25, 39]",18,9.262230,-11.700992,14.709389,-30.130758,-0.000000,13.069154,1,0

In [742]:
# II. generate analysis data with true beta and Y -----------------------------
    # Y: binary-vector of choices, n*c-by-1
    # I: vector of consumer index, n*c-by-1
    # X: matrix of consumer choice attributes, n*c-by-m, index = consumer_id
    # beta: coefficients, m-by-1

# 1. X: size n*c-by-m
X = df[['consumer_id', 'price']+prod_varnames]
X = X.set_index('consumer_id')

# 2. beta: size m-by-1
# first coeff: on price, must be negative
beta0 = np.random.uniform(low = -1, high = 0, size = 1)
# the other m-1 coeff on prod_var1-prod_var_{m-1}
beta = np.random.uniform(low = -50, high = 50, size = m-1).reshape(m-1,1)
beta = np.vstack((beta0,beta))
# mannually input beta
beta_true = np.array([-.05, -3, -14, .75, -2.5, 1]).reshape((m,1))

In [743]:
# 3. Y:
# (1) give a score to each choice for each consumer
df['score'] = X.values.dot(beta_true)
# (2) calculate a probability of chosing each product for each consumer, based on the score
for consumer, frame in df.groupby('consumer_id'):
    total_expscore_thisperson = np.sum(np.exp(frame['score']))
    df.loc[df['consumer_id'] == consumer,'prob'] = frame.apply(lambda row: np.exp(row['score'])/total_expscore_thisperson, 
                                                               axis = 1)
# check whether prob for each person sum up to 1
total_prob = df.groupby('consumer_id').agg({'prob': np.sum})
tol = 10**(-10)
len(total_prob.loc[abs(total_prob['prob'] -1) > tol])

0

In [744]:
# use function choice_probability to calculate the above 2 steps
I = df['consumer_id']
df['prob1']= ld.choice_probability(I,X,beta_true)
(abs(df['prob'] - df['prob1'])>tol).sum()

0

In [745]:
# (3)chose Y, binary
choice_index = (df.groupby('consumer_id')
                  .agg({'prob': lambda series: series.idxmax()})
                  .rename(columns={'prob':'choice'}))
df['Y'] = df.index.isin(choice_index['choice']).astype(int)

# check whether each person buy 1 and only 1 product
total_selection = df.groupby('consumer_id').agg({'Y': np.sum})
tol = 10**(-10)
len(total_selection.loc[abs(total_selection['Y'] -1) > tol])

0

In [749]:
df.head()

,consumer_id,num_prod_offered,prod_offered,product_id,prod_var1,prod_var2,prod_var3,prod_var4,prod_var5,price,consumer_var1,consumer_var2,score,prob,prob1,Y
0,0,4,"[74, 5, 53, 71]",74,68.556374,-11.732472,14.876758,-25.337136,-36.372924,2306.971301,1,1,-118.635595,3.225342e-127,3.225342e-127,0
1,0,4,"[74, 5, 53, 71]",5,25.017165,-11.812267,14.860598,-41.075519,-33.568343,7341.728804,1,1,-196.500290,4.924572e-161,4.924572e-161,0
2,0,4,"[74, 5, 53, 71]",53,22.429600,-11.631830,14.816871,-40.848841,-34.687707,29.645139,1,1,172.621612,9.999396e-01,9.999396e-01,1
3,0,4,"[74, 5, 53, 71]",71,11.044104,-11.587997,14.939064,-36.650324,-36.813140,644.192645,1,1,162.906978,6.038953e-05,6.038953e-05,0
4,1,3,"[18, 25, 39]",18,9.262230,-11.700992,14.709389,-30.130758,-0.000000,13.069154,1,0,221.732681,1.091747e-07,1.091747e-07,0

In [750]:
(df['prob'] >= 0).sum() == len(df)

True

In [751]:
(df['prob'] <= 1).sum() == len(df)

True

In [828]:
# III. MLE- get beta_hat -----------------------------------
import logit_demand as ld
import importlib
importlib.reload(ld)

In [814]:
Y=df['Y']

In [830]:
ld.loglikelihood(Y,I,X,beta_true)

8.99635076412298