In [1]:
import numpy as np
import pandas as pd
import os,sys,inspect
import scipy.stats as stats
import scipy.optimize as opt
from scipy.stats import norm
import scipy.integrate as integrate
from scipy.io import loadmat
import econtools 
import econtools.metrics as mt
import statsmodels.discrete.discrete_model as sm
import matplotlib.pyplot as plt
import itertools as it
import copy
import importlib
import warnings
warnings.filterwarnings('ignore')



# my functions
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
#targetdir = os.path.dirname(currentdir)
targetdir = currentdir

if targetdir not in sys.path:
    sys.path.insert(0,targetdir)
    
from entry import entry_Q1
from entry import entry_Q2

importlib.reload(entry_Q1)
importlib.reload(entry_Q2)

In [2]:
# ------------------------------------------------------------------------
# NOTE
# ------------------------------------------------------------------------
# Purpose: HW1 Q1 
# 
# ------------------------------------------------------------------------

# path

In [3]:
# 0. Initialize file path -----------------------------------------------
rootpath = '/Users/jingyuanwang/Dropbox/Course/ECON/IO/NU450/NU450_HW/450-2-HW1'
datapath = rootpath + '/' + 'data'
resultpath = rootpath + '/' + 'results'

# read data

In [4]:
# Q1
filename = 'entry.mat'
file = datapath + '/'+ filename
data = loadmat(file)

In [6]:
df_1 = (pd.DataFrame(np.concatenate( 
                              (data['mrkts'],
                               data['costs'],
                               data['firms'], 
                               data['entry']), axis = 1 ))
              .rename(columns = {0:'X_m',1:'N_m',2:'pi_1m',3:'pi_2m', 4:'pi_3m', 
                                 5:'phi_1m', 6:'phi_2m', 7:'phi_3m',
                                 8:'Z_1m', 9:'Z_2m', 10:'Z_3m',
                                 11:'entry_1m', 12:'entry_2m', 13:'entry_3m'}) )

In [7]:
# Q2
filename = 'entry2.mat'
file = datapath + '/'+ filename
data = loadmat(file)

In [8]:
df_2 = (pd.DataFrame(np.concatenate( 
                              (data['mrkts'],
                               data['costs'],
                               data['firms'], 
                               data['entry']), axis = 1 ))
              .rename(columns = {0:'X_m',1:'N_m',2:'N_potential_m', 3:'xi_m',
                                 4:'pi_1m',5:'pi_2m', 6:'pi_3m', 7:'pi_4m', 8:'pi_5m', 9:'pi_6m', 10:'pi_7m',
                                 11:'phi_1m', 12:'phi_2m', 13:'phi_3m', 14:'phi_4m', 15:'phi_5m', 16:'phi_6m', 17:'phi_7m',
                                 18:'Z_1m', 19:'Z_2m', 20:'Z_3m', 21:'Z_4m', 22:'Z_5m', 23:'Z_6m', 24:'Z_7m',
                                 25:'entry_1m', 26:'entry_2m', 27:'entry_3m',
                                 28:'entry_4m', 29:'entry_5m', 30:'entry_6m', 31:'entry_7m'}) 
     )

# Q1

In [9]:
df_1.head()

,X_m,N_m,pi_1m,pi_2m,pi_3m,phi_1m,phi_2m,phi_3m,Z_1m,Z_2m,Z_3m,entry_1m,entry_2m,entry_3m
0,4.404426,2.0,3.443667,2.725676,0.0,0.267612,0.985602,3.845856,-0.798338,-0.210352,1.963553,1.0,1.0,0.0
1,2.778364,1.0,0.536179,0.000000,0.0,2.242185,2.294344,2.545320,0.751009,-0.784719,0.417111,1.0,0.0,0.0
2,3.571594,2.0,3.092456,1.453568,0.0,-0.214009,1.424879,3.461580,-0.723477,1.116400,1.063253,1.0,1.0,0.0
3,0.506263,0.0,0.000000,0.000000,0.0,0.850719,2.877807,3.484123,1.238090,-0.582233,0.375627,0.0,0.0,0.0
4,4.826940,2.0,3.958992,3.364709,0.0,0.174801,0.769084,4.046535,-0.288379,-0.317312,0.886232,1.0,1.0,0.0

In [8]:
markets = entry_Q1.entry_likelihood(M=100, F=3, df=df_1, n_sample=10000 )

In [9]:
def obj(parameter, order=None):
    
    mu = parameter[0]
    sigma = parameter[1]
    likelihood = markets.get_likelihood(alpha=1, beta=1, delta=1, mu=mu, sigma=sigma, order = order)
    
    return -likelihood

In [10]:
# test the true value:
true_value = np.array([2,1])
print(obj(true_value))
print(obj(true_value,order = 'lowestfirst'))
print(obj(true_value,order = 'highestfirst'))

117.45373417745441
122.46631737549201
15199.985503594102

In [11]:
initial = np.array([1,2])
results0 = opt.minimize(obj, initial, args = None, method = 'Nelder-Mead')
results1 = opt.minimize(obj, initial, args = 'lowestfirst', method = 'Nelder-Mead')
results2 = opt.minimize(obj, initial, args = 'highestfirst', method = 'Nelder-Mead')

In [12]:
print('not constrained:        estimated mu, sigma = {}, obj fun = {} '.format(results0.x, results0.fun))
print('low cost enter first:   estimated mu, sigma = {}, obj fun = {} '.format(results1.x, results1.fun))
print('hight cost enter first: estimated mu, sigma = {}, obj fun = {} '.format(results2.x, results2.fun))

not constrained:        estimated mu, sigma = [2.15389418 0.98328417], obj fun = 115.88971627809093
low cost enter first:   estimated mu, sigma = [2.19991463 0.96592481], obj fun = 120.75881677915382
hight cost enter first: estimated mu, sigma = [1.18123516 1.84269955], obj fun = 12345.110277956932

# Q2

In [13]:
importlib.reload(entry_Q2)

In [14]:
markets = entry_Q2.entry_likelihood(M=100, F=7, df=df_2, n_sample=1000 )

In [15]:
df = markets._get_data_long()

## (a)

In [16]:
mt.reg( df[df['entry'] == 1], 'pi', ['X','N','Z'])

=======================================================
Dependent variable:	pi
N:			372
R-squared:		0.1084
Estimation method:	OLS
VCE method:		Standard (Homosk.)
=======================================================
   coeff    se      t   p>t CI_low CI_high
X  0.706 0.150  4.701 0.000  0.411   1.002
N  0.148 0.115  1.285 0.200 -0.079   0.375
Z -0.606 0.182 -3.335 0.001 -0.963  -0.249
=======================================================

## (b)

In [18]:
mt.ivreg( df[df['entry'] == 1], 'pi', 'N', 'N_potential', ['X','Z'])

=======================================================
Dependent variable:	pi
N:			372
R-squared:		nan
Estimation method:	2SLS
VCE method:		Standard (Homosk.)
=======================================================
   coeff    se      t   p>t CI_low CI_high
N -0.426 0.165 -2.574 0.010 -0.751  -0.101
X  1.411 0.209  6.735 0.000  0.999   1.823
Z -0.662 0.188 -3.523 0.000 -1.032  -0.293
=======================================================

## cheating: the regression without omitted variable problem:

In [19]:
mt.reg( df[df['entry'] == 1], 'pi', ['X','N','Z', 'xi'])

=======================================================
Dependent variable:	pi
N:			372
R-squared:		0.9269
Estimation method:	OLS
VCE method:		Standard (Homosk.)
=======================================================
    coeff    se       t   p>t CI_low CI_high
X   0.679 0.043  15.771 0.000  0.595   0.764
N  -0.415 0.034 -12.126 0.000 -0.483  -0.348
Z  -0.769 0.052 -14.761 0.000 -0.872  -0.667
xi  0.958 0.015  64.208 0.000  0.929   0.988
=======================================================

# Appendix & draft